<div id="mail_messages">
  <h2>Eve Mail</h2>
  <table border="0" width="100%" style="margin-left: 3em;">
    <tr>
      <th>To</th>
      <th>From</th>
      <th>Subject</th>
      <th>Sent At</th>
    </tr>
    <% mail_messages.each do |x| %>
    <!-- <tr style="font-weight: <%=h x.read ? 'regular' : 'bold' %>;"> -->
    <tr>
      <td class="nowrap"><%=h x.character.name %></td>
      <td class="nowrap"><%=h Character.get(x.sender_id).name %></td>
      <td><%=h x.title %></td>
      <td class="nowrap"><%=h x.send_date %></td>
    </tr>
    <% end -%>
  </table>
</div>
