<div id="mail_messages">
  <h2>Eve Mail</h2>
  <table border="0" width="100%" style="margin-left: 3em;">
    <tr>
      <th>To</th>
      <th>From</th>
      <th>Subject</th>
      <th>Sent At</th>
    </tr>
    <% mail_messages.each do |m| %>
    <!-- <tr style="font-weight: <%=h m.read ? 'regular' : 'bold' %>;"> -->
    <tr>
      <td class="nowrap"><%=h m.character.name %></td>
      <td><%=h m.sender_id %></td>
      <td><%=h m.title %></td>
      <td><%=h m.send_date %></td>
    </tr>
    <% end -%>
  </table>
</div>
