<!-- <pre><%=h @user.inspect %></pre> -->

<p><%= image_tag(@user.profile_image_url, :width => 31, :height => 31, :alt => @user.name) %> Welcome @<%=h @user.login %>!</p>

<div id="accounts">
  <p>Eve Accounts</p>
  <ul>
    <% for account in @user.accounts -%>
    <li><%= link_to account.id, account %>
      <span id="character_names"><%=h account.characters.map{|x| x.name}.join(", ") %></span></li>
    <% end -%>
  </ul>
  <p><%= link_to "Add an account", new_account_path %></p>
</div>