<div id="right_side"><div id="inner_right_side">
  <h2>Get Alerts via Twitter</h2>
  <div>
    <%= check_box_tag "twitter", 1, false, {:disabled => true} %>
    <%= image_tag "twitter_logo_header.png", :alt => "Twitter Logo", :style => "vertical-align: middle", :height => 24 %>
  </div>
  <p>Alerts will be sent as<br/> Direct Messages.</p>
  <p>In order to receive alerts, <br/>
    you must be following <br/>
    <%= link_to "@evealert_alerts", "http://twitter.com/evealert_alerts", :target => "_blank", :class => "newtab" %>.</p>
  <p>
    <% if following_alerts? %>
    Check!
    <% else %>
    Negative.
    <% end %>
  </p>
</div></div>

<%= render :partial => 'accounts/accounts.html.erb', :locals => {:accounts => @user.accounts} %>

<%= render :partial => 'characters/characters.html.erb', :locals => {:characters => @user.accounts.map{|x| x.characters}.flatten} %>

<%= render :partial => 'notifications/notifications.html.erb',
  :locals => {:notifications => @user.accounts.map{|x| x.characters}.flatten.map{|x| x.notifications}.flatten} %>

<%= render :partial => 'mail_messages/mail_messages.html.erb',
  :locals => {:mail_messages => @user.accounts.map{|x| x.characters}.flatten.map{|x| x.mail_messages}.flatten} %>
