<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta content="en-us" http-equiv="Content-Language" />
    <meta http-equiv="imagetoolbar" content="no" />
    <meta name="MSSmartTagsPreventParsing" content="true" />
    <%= stylesheet_link_tag 'scaffold' %>
    <%= stylesheet_link_tag 'application' %>
  </head>
  <body>    
    <div id="header">
    <div id="user_block">
    <% if logged_in? -%>
      <table border="0"><tr>
        <td><%= image_tag(current_user.profile_image_url, :width => 31, :height => 31, :alt => current_user.name) %></td>
        <td>@<%=h current_user.login %></td>
        <td>[<%= link_to "logout", logout_path %>]</td>
      </tr></table>
    <% else %>
      <%= link_to image_tag("Sign-in-with-Twitter-darker.png"), home_url, {:style => "vertical-align: middle;"} %>
    <% end %>
    </div>
    <div id="banner"></div>
    </div>
    <div id="page">
      <div id="flash"><p style="color: green"><%= flash[:notice] %></p></div>
      <%= yield %>
    </div>
  </body>
</html>