<h1>New account</h1>

<% form_for(@account) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :id %><br />
    <%= f.text_field :id, {:size => 8} %>
  </p>
  <p>
    <%= f.label :full_api_key %><br />
    <%= f.text_field :full_api_key, {:size => 65} %>
  </p>
  <p>
    <%= f.submit 'Add' %> | 
    <%= link_to 'Cancel', home_path %>
  </p>
<% end %>
